<%- include("header") %>
<div id="plant" class="contact_us layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                   </div>
               </div>
            </div>
         </div>
      </div>
            <!--about -->
       <div class="section about ">
         <div class="container">
             <div class="row">
                <div class="col-12">
                    <div class="titlepage">
                     <h2><strong class="black"> Cart</strong>  </h2>
                     <span>Checkout time!!!</span>
                    </div>
                </div>
             </div>
             <div class="row" style="border: 4px solid black;border-radius: 20px;padding:10px;">
                      <strong><h1 style="margin-right:10px;">Grand Total</h1></strong>
                      <h1> &#8377;<strong>300</strong></h1>
             </div>
             <div class="row" style="margin-top:12px;">
               <div class="col-xs-12 col-md-8">
                 <div class="items">
                    <div class="col-xs-4 col-md-3">
                      <img src="/static/admin/images/basketball.png" alt="img"/>
                    </div>
                    <div class="col-xs-8 col-md-5 prod">
                      <h2>Basket ball</h2>
                      <h4> &#8377;<strong class="price_text">300</strong></h4>
                      <p>Product Description</p>
                    </div>
                 </div>
             </div>
             </div>
            </div>
         </div>
      </div>
      <section >
         
      </section>

      </div>
      <!--end about -->
<%- include("footer") %>